@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #44474edc;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.521);
    margin: 20px auto 0px auto;
    max-width: 500px;
    padding: 10px;
    transition: max-width .4s;
}

main > h1{
    padding: 12px 0px 18px 0px;
    text-align: center;
}

main > section > fieldset > p{
    padding-bottom: 10px;
}

main > section > fieldset{
    border-radius: 10px;
    margin-bottom: 13px;
    max-width: 490;
    min-height: 75px;
    padding: 8px;
}

main > section > fieldset > legend{
    font-weight: bold;
    padding: 2px;
}

main > section > fieldset > button{
    background-color: #44474edc;
    border-radius: 6px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 10px;
    width: 100px;
}

main > section#res > fieldset > select{
    padding: 6px;
}

footer{
    color: white;
    margin-top: 14px;
    padding: 8px 8px 25px 8px;
    text-align: center;
}

footer > p > strong > a{
    color: white;
    text-decoration: none;
}